
@model BasketWebPanel.BindingModels.DriverViewModel
@{
    ViewBag.Title = "ViewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<link href="~/Content/bootstrap-starrating/star-rating.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-starrating/star-rating.js"></script>*@

<style>
    .table caption + thead tr:first-child th,
    .table colgroup + thead tr:first-child th,
    .table thead:first-child tr:first-child th,
    .table caption + thead tr:first-child td,
    .table colgroup + thead tr:first-child td,
    .table thead:first-child tr:first-child td {
        border-top: 0;
        text-align: center;
        vertical-align: central;
    }

    .caption {
        background: transparent !important;
    }
</style>
<div class="right_col" role="main">

    <div class="row">

        <h3>Ride Request Details</h3>
    </div>


    <div class="row">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                   <div class="panel panel-primary" >
                       <div class="panel-heading">
                           Rider Details
                       </div>
                       <div class="panel-body">


                       </div>


                   </div>
                </div>
            </div>
        </div>



    </div>

</div>




